<!--cargar la directiva estatic entre {} como se ve en el archivo-->
{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1> somos estaticos</h1>
        <p>esto es un párrafo</p>
  
    </body>
</html>