<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       
    <h2>todo</h2>

    <ul>
         {% for autor in autores  %}
        <li>{{autor.name }} ({{autor.emal}})</li>
       {% endfor %}
    </ul>

    <h3>
        total de autores {{autores|length}}
    </h3>
    </body>
</html>